@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-label {
    @apply text-sm font-medium block mb-1
  }

  .input-text {
    @apply placeholder:text-sm bg-neutral-600 rounded-full pl-2 py-1
  }

  .text-show {
    @apply bg-neutral-600 rounded-full text-center text-xs font-semibold py-1
  }

  .home-link {
    @apply hover:text-green-500 transition
  }

  .img-profile {
    @apply h-28 w-28 object-cover rounded-full border-2 border-neutral-200
  }

  .text-label-xs {
    @apply text-xs font-medium text-neutral-200
  }

  .btn-menu {
    @apply text-xs font-semibold uppercase py-2 px-6 bg-neutral-900 rounded-xl border-2 border-neutral-700 drop-shadow-[3px_3px_0_rgb(0,0,0)]
  }

  .btn-menu-active {
    @apply text-orange-400 text-xs font-bold uppercase py-2 px-6 bg-neutral-900 rounded-xl border-2 border-neutral-700 drop-shadow-[3px_3px_0_rgb(0,0,0)]
  }

  
}
/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
